
<h2 id="publications" style="margin: 2px 0px -15px;">Publications</h2>

<div class="publications">
<ol class="bibliography">
    
<li>
<div class="pub-row">

  <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
    <img src="assets/img/2026arXiv260115957C.png" class="teaser img-fluid z-depth-1">
  </div>

  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
    <div class="title">JWST Advanced Deep Extragalactic Survey (JADES) Data Release 5: Catalogs of inferred morphological properties of galaxies from JWST/NIRCam imaging in GOODS-N and GOODS-S</div>
    <div class="author">Courtney Carreira, Brant E. Robertson, A. Lola Danhaive, Zhiyuan Ji, Marcia Rieke, et al.</div>
    <div class="periodical"><i>arXiv e-prints, January 2026.</i></div>
    <div class="links">
        
        <a href="https://arxiv.org/pdf/2601.15957" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">PDF</a>
        
        <a href="https://ui.adsabs.harvard.edu/abs/2026arXiv260115957C/exportcitation" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">BibTex</a>
        
    </div>
  </div>
</div>
</li>
            
<li>
<div class="pub-row">

  <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
    <img src="assets/img/2024ApJ...970...31R.png" class="teaser img-fluid z-depth-1">
  </div>

  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
    <div class="title">Earliest Galaxies in the JADES Origins Field: Luminosity Function and Cosmic Star Formation Rate Density 300 Myr after the Big Bang</div>
    <div class="author">Brant Robertson, Benjamin D. Johnson, Sandro Tacchella, et al., including Courtney Carreira</div>
    <div class="periodical"><i>The Astrophysical Journal, July 2024.</i></div>
    <div class="links">
        
        <a href="https://iopscience.iop.org/article/10.3847/1538-4357/ad463d/pdf" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">PDF</a>
        
        <a href="https://iopscience.iop.org/article/10.3847/1538-4357/ad463d" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Source</a>
        
        <a href="https://webbtelescope.org/contents/early-highlights/nasas-james-webb-space-telescope-finds-most-distant-known-galaxy" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Press</a>
        
        <a href="https://ui.adsabs.harvard.edu/abs/2024ApJ...970...31R/exportcitation" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">BibTex</a>
        
    </div>
  </div>
</div>
</li>
            
<li>
<div class="pub-row">

  <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
    <img src="assets/img/2026MNRAS.tmp..413D.png" class="teaser img-fluid z-depth-1">
  </div>

  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
    <div class="title">Beyond the stars: Linking Hα sizes, kinematics, and star formation in galaxies at z ≈ 4 - 6 with JWST grism surveys and GEKO</div>
    <div class="author">A. Lola Danhaive, Sandro Tacchella, William McClymont, et al., including Courtney Carreira</div>
    <div class="periodical"><i>Monthly Notices of the Royal Astronomical Society, March 2026.</i></div>
    <div class="links">
        
        <a href="https://arxiv.org/pdf/2510.06315" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">PDF</a>
        
        <a href="https://academic.oup.com/mnras/advance-article/doi/10.1093/mnras/stag437/8507256?login=false" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Source</a>
        
        <a href="https://ui.adsabs.harvard.edu/abs/2026MNRAS.tmp..413D/exportcitation" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">BibTex</a>
        
    </div>
  </div>
</div>
</li>
            
<li>
<div class="pub-row">

  <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
    <img src="assets/img/2026arXiv260115965Z.png" class="teaser img-fluid z-depth-1">
  </div>

  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
    <div class="title">Clumps in High-redshift Galaxies: Mass Scaling and Radial Trends from JADES</div>
    <div class="author">Yongda Zhu, Marcia J. Rieke, Zhiyuan Ji, Andrew J. Bunker, Courtney Carreira, et al.</div>
    <div class="periodical"><i>The Astrophysical Journal, mar 2026.</i></div>
    <div class="links">
        
        <a href="https://arxiv.org/pdf/2601.15965" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">PDF</a>
        
        <a href="https://astrobites.org/2026/02/11/should-i-stay-should-i-go/" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">Press</a>
        
        <a href="https://ui.adsabs.harvard.edu/abs/2026arXiv260115965Z/exportcitation" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">BibTex</a>
        
    </div>
  </div>
</div>
</li>
            
<li>
<div class="pub-row">

  <div class="col-sm-3 abbr" style="position: relative;padding-right: 15px;padding-left: 15px;">
    <img src="assets/img/2026arXiv260115959H.png" class="teaser img-fluid z-depth-1">
  </div>

  <div class="col-sm-9" style="position: relative;padding-right: 15px;padding-left: 20px;">
    <div class="title">JWST Advanced Deep Extragalactic Survey (JADES) Data Release 5: Photometrically Selected Galaxy Candidates at z > 8</div>
    <div class="author">Kevin N. Hainline, Daniel J. Eisenstein, Lily Whitler, et al., including Courtney Carreira</div>
    <div class="periodical"><i>arXiv e-prints, January 2026.</i></div>
    <div class="links">
        
        <a href="https://arxiv.org/pdf/2601.15959" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">PDF</a>
        
        <a href="https://ui.adsabs.harvard.edu/abs/2026arXiv260115959H/exportcitation" class="btn btn-sm z-depth-0" role="button" target="_blank" style="font-size:12px;">BibTex</a>
        
    </div>
  </div>
</div>
</li>
            
<br>

</ol>
</div>
    